body {
  box-sizing: border-box;
  font-family: sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.title {
  /* margin: 150px 0 0; */
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  min-height: 350px;
  text-align: center;
  font-size: 3rem;
  color: rgb(45, 45, 45);
}

.outer {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25vh;
  padding: 15px;
  box-shadow: 0 3px 10px rgba(190, 190, 190, 0.795);
  border-radius: 25px;
}
@media (min-width: 1024px) {
  .outer {
    width: 750px;
  }
}
/* inputs */
.form {
  display: flex;
  align-items: center;
}
.inputContainer {
  display: flex;
  align-content: center;
  align-items: center;
}
.input {
  min-width: 75px;
  font-size: 3rem;
  text-align: center;
  padding: 10px;
  margin: 0 10px;
  border: 2px solid white;
  box-shadow: 0 3px 10px rgba(190, 190, 190, 0.795);
  border-radius: 25px;
}

.separator {
  font-size: 1.2rem;
  font-weight: 600;
}

/* active display */
.activeDisplay {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(142, 0, 0);
}
.activeDisplay__item {
  width: 100%;
  min-width: 75px;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  padding: 12px;
  margin: 0 10px;
}

/*button container*/
.buttonContainer {
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 760px) {
  .buttonContainer {
    margin-left: 10px;
  }
}
.button {
  flex: 1 1 auto;
  min-width: 100px;
  padding: 30px 20px;
  font-size: 1.2rem;
  font-weight: 600;

  text-align: center;
  border: 1px solid rgba(189, 189, 189, 0);
  background-color: rgb(241, 241, 241);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(159, 159, 159, 0.795);
}
.button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.startBtn {
  color: rgb(20, 88, 20);
}
.pauseBtn {
  color: rgb(70, 20, 95);
}
.resetBtn {
  margin-left: 10px;
  color: rgb(8, 14, 124);
}

@media (max-width: 500px) {
  .form,
  .outer {
    width: fit-content;
    display: flex;
    flex-direction: column;
  }
  .button {
    width: 100%;
    margin: 10px;
  }
  .buttonContainer {
    margin-top: 10px;
    width: 100%;
  }
}

.hidden {
  display: none;
}
